<div class="col-lg-12">
  <div class="page-header">
    <h1>プロフィール</h1>
  </div>
  <% # debug(current_user) %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>項目名</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <% @columns.each do |culumn| %>
        <tr>
          <td><%= culumn %></td>
          <td><%=
                if culumn == "driver_license_id"
                  current_user.driver_license.license_type
                else
                  current_user.send("#{culumn}")
                end
              %></td>
        </tr>
      <% end %>
      <tr>
        <td>committee</td>
        <td><%
              if !current_user.committees.blank?
                current_user.committees.each do |committee|
            %>
                  <%= committee.name %><br>
            <%
                end
              end
            %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit', users_profile_edit_path, :class => 'btn btn-default' %>
  <%= link_to '所属を編集', affiliations_path, :class => 'btn btn-default' %>
</div>