<div class="col-lg-2">
  <div class="well sidebar-nav">
    <h3>Sidebar</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Link1", "/path1"  %></li>
      <li><%= link_to "Link2", "/path2"  %></li>
      <li><%= link_to "Link3", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
<div class="col-lg-10">
  <h1>Home</h1>
  <p>This is a index for all users.</p>
  <% if user_signed_in? %>
    <p>You are <%= current_user.email %></p>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
</div>