<%= form_for(@active_time) do |f| %>
  <% if @active_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@active_time.errors.count, "error") %> prohibited this active_time from being saved:</h2>

      <ul>
      <% @active_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :shift_time_id %><br>
    <%= f.number_field :shift_time_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
