<%= form_for(@active_night) do |f| %>
  <% if @active_night.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@active_night.errors.count, "error") %> prohibited this active_night from being saved:</h2>

      <ul>
      <% @active_night.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :allnight_id %><br>
    <%= f.number_field :allnight_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
