<p id="notice"><%= notice %></p>

<h1>Listing User Stations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Station</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_stations.each do |user_station| %>
      <tr>
        <td><%= user_station.user_id %></td>
        <td><%= user_station.station_id %></td>
        <td><%= link_to 'Show', user_station %></td>
        <td><%= link_to 'Edit', edit_user_station_path(user_station) %></td>
        <td><%= link_to 'Destroy', user_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User station', new_user_station_path %>
