<div class="col-lg-12">
  <div class="page-header">
    <h1>その他管理</h1>
  </div>
  <%= link_to 'シフト日を編集', shift_dates_path, :class => 'btn btn-default' %>
  <%= link_to 'シフト時間を編集', shift_times_path, :class => 'btn btn-default' %>
  <%= link_to '残留日を編集', allnights_path, :class => 'btn btn-default' %>
  <%= link_to '所属団体を編集', committees_path, :class => 'btn btn-default' %>
  <%= link_to '免許種別を編集', driver_licenses_path, :class => 'btn btn-default' %>
</div>
